.u-block-3c0f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3c0f-3 {
  position: absolute;
  left: 0;
}

.u-block-3c0f-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 50px -53px 0 30px;
}

.u-section-1-1 .u-text-2 {
  margin: 0 30px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    font-size: 4.5rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 444px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -298px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 393px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}@font-face {
  font-family: 'LeagueSpartan-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LeagueSpartan-Bold.otf);
}